@font-face {
    font-family: clean;
    src: url(assets/cleanFont.otf);
}

@font-face {
    font-family: title;
    src: url(assets/titleFont.otf);
}

body {
    background-color: antiquewhite;
}

header {
    font-family: clean;
    background-color: azure;
    padding: 30px;
    border: 50px solid;
    border-width: 4px;
    border-color: rgb(82, 61, 56);
    border-radius: 30px;
    position: relative;
    overflow:hidden;
}

h1 {
    font-family: title;
    font-weight: bold;
    font-size: 40px;
    margin: 0px;
    width: fit-content;
}

.canvasWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 400px;
    width: 1080;
    margin-top: 20px;
}


#paintCanvas {
    position: absolute;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

#GUIdisplayCanvas {
    position: absolute;
    z-index: 2;
}

.bStyle1 {
    background-color: rgb(217, 236, 236);
    border-color: transparent;
    border-radius: 30px;
    margin: 4px;
}

.bStyle1[aria-pressed="true"] {
    transition: 500ms;
    filter: brightness(75%);
    transform: scale(105%);
}

.bStyle1:active {
    transition: 25ms;
    transform: scale(97%);
    filter: brightness(90%);
}

.bStyle2 {
    border-style: solid;
    background-color: rgb(217, 236, 236);
    border-color: rgb(197, 211, 216);
    border-width: 3px;
    border-radius: 10px;
    padding: 5px;
    font-family: clean;
    font-size: medium;
    color: rgb(14, 14, 14);
    transition: 500ms;
}

.bStyle2:hover {
    transition: 500ms;
    transform: scale(94%);
    filter: brightness(95%);
}

.bStyle2:active {
    transition: 50ms;
    transform: scale(85%);
    filter: brightness(85%);
}

.bStyle3 {
    background-color: rgb(183, 205, 205);
    border-color: rgb(129, 150, 150);
    border-radius: 30px;
    margin: 4px;
}

.bStyle3-sub {
    padding: 7px; 
    margin-top: auto; 
    width: fit-content; 
    display: none;
}

#screen {
    position: absolute;
    z-index: 1;

}

.RGBinputs {
    display: none;
}

#thicknessVal {
    display: none;
}

.inputFieldStyle1 {
    margin: auto;
    color: rgb(14, 14, 14);
    border-width: 3px;
    border-radius: 4px;
    width: 45px;
    border-style: ridge;
    background-color: rgb(223, 248, 248);
    border-color: rgb(197, 211, 216);
}

input[type="checkbox"]{
    accent-color: rgb(183, 205, 205);
}

#colourSelectionUI{
    float: right;
 
}

.canvasAndSlider{
       align-items: center;
}

#hueSlider{
width: 120px;
background-color: rgb(214, 233, 233);
border: 3px ridge rgb(168, 196, 196);
border-radius: 30px;

}

#hueSlider::-moz-range-thumb{
    background-color: black;
}

#selectionBoxCanvas{
    border: 5px ridge rgb(168, 196, 196);
    display: flex;
    z-index: 2;
}

